In [181]:
# Import dependencies
import pandas as pd
import numpy as np
import re
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [ ]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

In [ ]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [ ]:
# Get the crowdfunding_info_df columns.
crowdfunding_cols = crowdfunding_info_df.columns
crowdfunding_cols

In [ ]:
list(crowdfunding_info_df)

In [ ]:
# Assign the category and subcategory values to category and subcategory columns.
# Split the item_name column into two columns, one with the category and the other the item type.
split_crowdfunding = crowdfunding_info_df[["category","sub-category"]] = crowdfunding_info_df['category & sub-category'].str.split(' / ', n=1, expand=True)


# Drop the "item_name" column.
#grocery_df_clean = crowdfunding_info_df.drop("item_name", axis=1)
#grocery_df_clean
crowdfunding_info_df

In [ ]:
# Get the unique categories and subcategories in separate lists.


print(categories)
print(subcategories)

In [ ]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

In [ ]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

In [ ]:
# Use a list comprehension to add "cat" to each category_id. 

# Use a list comprehension to add "subcat" to each subcategory_id.    

    
print(cat_ids)
print(scat_ids)

In [ ]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name.

In [ ]:
category_df

In [ ]:
subcategory_df

In [ ]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [ ]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

In [ ]:
# Rename the blurb, launched_at, and deadline columns.

In [ ]:
# Convert the goal and pledged columns to a `float` data type.

In [ ]:
# Check the datatypes

In [ ]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt

#Rename the columns:
campaign_df.rename(columns={‘launched_at’: ‘launch_date’, ‘deadline’: ‘end_date’}, inplace=True)
#Convert the UTC times to datetime format:
campaign_df[‘launch_date’] = pd.to_datetime(campaign_df[‘launch_date’], unit=‘s’).date()
campaign_df[‘end_date’] = pd.to_datetime(campaign_df[‘end_date’], unit=‘s’)
campaign_df['launch_date'] = campaign_df['datetime'].dt.strftime('%Y-%m-%d')
campaign_df['end_date'] = campaign_df['datetime'].dt.strftime('%Y-%m-%d')

campaign_df.head()

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.


campaign_merged_df.tail(10)

In [ ]:
# Drop unwanted columns

In [ ]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []


# Print out the list of values for each row.
print(dict_values)

In [ ]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [ ]:
# Check the datatypes.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [182]:
#loading in the excel file
contact_info_df = pd.read_excel ('Resources/contacts.xlsx' , header =3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [183]:
#making a copy of the data frame
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [192]:
#splitting my columns into contact_id, name, and email
contacts_df_temp = pd.DataFrame() 
contacts_df_temp[['contact_id','name','email']] = contact_info_df_copy['contact_info'].str.split(',' , expand = True) 
contacts_df_temp.tail(25)

,contact_id,name,email
975,"{""contact_id"": 2741","""name"": ""Elliott Herrmann""","""email"": ""elliott.herrmann@hotmail.com.au""}"
976,"{""contact_id"": 1675","""name"": ""Graziella Vidal""","""email"": ""graziella.vidal@hotmail.com""}"
977,"{""contact_id"": 2712","""name"": ""Francisca Becerra""","""email"": ""francisca.becerra@young.com.au""}"
978,"{""contact_id"": 4527","""name"": ""Edeltrud Boyer""","""email"": ""edeltrud.boyer@outlook.com""}"
979,"{""contact_id"": 1722","""name"": ""Julian Noble""","""email"": ""julian.noble@hill.org.au""}"
980,"{""contact_id"": 4330","""name"": ""Christophe Bohnbach""","""email"": ""christophe.bohnbach@ifrance.com""}"
981,"{""contact_id"": 5219","""name"": ""Ippazio Angulo""","""email"": ""ippazio.angulo@yahoo.com""}"
982,"{""contact_id"": 4997","""name"": ""Grace Kroker""","""email"": ""grace.kroker@hotmail.com""}"
983,"{""contact_id"": 2239","""name"": ""Jared Ferguson""","""email"": ""jared.ferguson@roberts.com""}"
984,"{""contact_id"": 4587","""name"": ""Virginie McLean""","""email"": ""virginie.mclean@yahoo.com""}"
985,"{""contact_id"": 4113","""name"": ""Mason Potter""","""email"": ""mason.potter@gmail.com""}"
986,"{""contact_id"": 4762","""name"": ""Aaron Anaya""","""email"": ""aaron.anaya@hotmail.com.au""}"
987,"{""contact_id"": 5242","""name"": ""Leah Ornelas""","""email"": ""leah.ornelas@gmail.com""}"
988,"{""contact_id"": 5765","""name"": ""Harald Roy""","""email"": ""harald.roy@web.de""}"
989,"{""contact_id"": 2185","""name"": ""Micaela Martel""","""email"": ""micaela.martel@hotmail.com""}"
990,"{""contact_id"": 5500","""name"": ""Vincentio Sanders""","""email"": ""vincentio.sanders@voila.fr""}"
991,"{""contact_id"": 3494","""name"": ""Bettina Norbiato""","""email"": ""bettina.norbiato@allen-lutz.org""}"
992,"{""contact_id"": 3924","""name"": ""Julio Renner""","""email"": ""julio.renner@industrias.net""}"
993,"{""contact_id"": 3521","""name"": ""Jelena Stiffel""","""email"": ""jelena.stiffel@trupp.de""}"
994,"{""contact_id"": 5262","""name"": ""Guadalupe Munoz""","""email"": ""guadalupe.munoz@murray-hamilton.com.au""}"
995,"{""contact_id"": 3684","""name"": ""Whitney Noack""","""email"": ""whitney.noack@laboratorios.org""}"
996,"{""contact_id"": 5784","""name"": ""Gelsomina Migliaccio""","""email"": ""gelsomina.migliaccio@junk.com""}"
997,"{""contact_id"": 1498","""name"": ""Evangelista Pereira""","""email"": ""evangelista.pereira@thompson-peterson.biz""}"
998,"{""contact_id"": 6073","""name"": ""Gareth Comolli""","""email"": ""gareth.comolli@tiscali.fr""}"
999,"{""contact_id"": 4939","""name"": ""Michelangelo Hess""","""email"": ""michelangelo.hess@bouygtel.fr""}"

In [185]:
# Extract the four-digit contact ID number. thank you xpert for the regex
contacts_df_temp['contact_id'] = contacts_df_temp['contact_id'].str.extract(r'(\b\d{4}\b)')
contacts_df_temp.head()

,contact_id,name,email
0,4661,"""name"": ""Cecilia Velasco""","""email"": ""cecilia.velasco@rodrigues.fr""}"
1,3765,"""name"": ""Mariana Ellis""","""email"": ""mariana.ellis@rossi.org""}"
2,4187,"""name"": ""Sofie Woods""","""email"": ""sofie.woods@riviere.com""}"
3,4941,"""name"": ""Jeanette Iannotti""","""email"": ""jeanette.iannotti@yahoo.com""}"
4,2199,"""name"": ""Samuel Sorgatz""","""email"": ""samuel.sorgatz@gmail.com""}"

In [190]:
#trying to locate where this guy lost his name 
specific_row = contacts_df_temp.iloc[984]  
print(specific_row)

contact_id                                      4587
name
email          "email": "virginie.mclean@yahoo.com"}
Name: 984, dtype: object

In [191]:
#trying to locate where this guy lost his name 
specific_row = contacts_df_temp.iloc[985]  
print(specific_row)

contact_id                                   4113
name                                 Mason Potter
email          "email": "mason.potter@gmail.com"}
Name: 985, dtype: object

In [186]:
# Check the datatypes.
contacts_df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   object
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [187]:
# Convert the "contact_id" column to an int64 data type.
contacts_df_temp['contact_id'] = contacts_df_temp['contact_id'].astype(int)
contacts_df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [189]:
# Extract the name of the contact and add it to a new column. thank you xpert for helping make this not a list
name_pat = r'\b[A-Z][a-z]+\s[A-Z][a-z]+\b'
contacts_df_temp['name'] = contacts_df_temp['name'].apply(lambda x: re.findall(name_pat, x)[0] if re.findall(name_pat, x) else '')
contacts_df_temp.tail(30)

,contact_id,name,email
970,5761,Sharon Diallo,"""email"": ""sharon.diallo@gmail.com""}"
971,3699,Eduardo Delattre,"""email"": ""eduardo.delattre@lynch.net.au""}"
972,4519,Bernadette Wang,"""email"": ""bernadette.wang@gmail.com""}"
973,5395,Dina Gibbons,"""email"": ""dina.gibbons@brewer.net""}"
974,3057,Clara Armstrong,"""email"": ""clara.armstrong@vodafone.it""}"
975,2741,Elliott Herrmann,"""email"": ""elliott.herrmann@hotmail.com.au""}"
976,1675,Graziella Vidal,"""email"": ""graziella.vidal@hotmail.com""}"
977,2712,Francisca Becerra,"""email"": ""francisca.becerra@young.com.au""}"
978,4527,Edeltrud Boyer,"""email"": ""edeltrud.boyer@outlook.com""}"
979,1722,Julian Noble,"""email"": ""julian.noble@hill.org.au""}"
980,4330,Christophe Bohnbach,"""email"": ""christophe.bohnbach@ifrance.com""}"
981,5219,Ippazio Angulo,"""email"": ""ippazio.angulo@yahoo.com""}"
982,4997,Grace Kroker,"""email"": ""grace.kroker@hotmail.com""}"
983,2239,Jared Ferguson,"""email"": ""jared.ferguson@roberts.com""}"
984,4587,,"""email"": ""virginie.mclean@yahoo.com""}"
985,4113,Mason Potter,"""email"": ""mason.potter@gmail.com""}"
986,4762,Aaron Anaya,"""email"": ""aaron.anaya@hotmail.com.au""}"
987,5242,Leah Ornelas,"""email"": ""leah.ornelas@gmail.com""}"
988,5765,Harald Roy,"""email"": ""harald.roy@web.de""}"
989,2185,Micaela Martel,"""email"": ""micaela.martel@hotmail.com""}"
990,5500,Vincentio Sanders,"""email"": ""vincentio.sanders@voila.fr""}"
991,3494,Bettina Norbiato,"""email"": ""bettina.norbiato@allen-lutz.org""}"
992,3924,Julio Renner,"""email"": ""julio.renner@industrias.net""}"
993,3521,Jelena Stiffel,"""email"": ""jelena.stiffel@trupp.de""}"
994,5262,Guadalupe Munoz,"""email"": ""guadalupe.munoz@murray-hamilton.com.au""}"
995,3684,Whitney Noack,"""email"": ""whitney.noack@laboratorios.org""}"
996,5784,Gelsomina Migliaccio,"""email"": ""gelsomina.migliaccio@junk.com""}"
997,1498,Evangelista Pereira,"""email"": ""evangelista.pereira@thompson-peterson.biz""}"
998,6073,Gareth Comolli,"""email"": ""gareth.comolli@tiscali.fr""}"
999,4939,Michelangelo Hess,"""email"": ""michelangelo.hess@bouygtel.fr""}"

In [ ]:
#still have the 
contacts_df_temp.info()

In [ ]:
# Extract the email from the contacts and add the values to a new column. thank xpert for the help
emails_pat = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
contacts_df_temp['email'] = contacts_df_temp['email'].apply(lambda x: re.findall(emails_pat, x)[0] if re.findall(emails_pat, x) else '')
contacts_df_temp.head()

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contact_df_new_columns = contacts_df_temp.copy()
contact_df_new_columns

In [ ]:
#this is the last df with the guys name
specific_row = contacts_df_temp.iloc[985]  
print(specific_row)

In [ ]:
contact_df_new_columns.info()

In [ ]:
#finding the mysterious missing guy
specific_row = contact_df_new_columns.iloc[984]  
print(specific_row)

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_df_new_columns[['first_name', 'last_name']] = contact_df_new_columns['name'].str.split(' ', n=1, expand=True)
#making sure that worked before i start dropping columns
contact_df_new_columns.head()

# Drop the contact_name column
contact_df_new_columns = contact_df_new_columns.drop(columns = ['name'])
contact_df_new_columns.info()

In [ ]:
#a last name is missing? trying to find it now
null_values = contact_df_new_columns.isnull().sum()
rows_with_null = contact_df_new_columns[contact_df_new_columns.isnull().any(axis=1)]
print(rows_with_null)

In [ ]:
#reorder the columns :contact_id, first_name, last_name, email
#checking the current column order
print(contact_df_new_columns)

#putting the columns in a better order
new_column_order = ["contact_id","first_name","last_name","email"]

#making the new df with the correct order for the columns
contacts_clean = contacts_clean[new_column_order]
contacts_clean.head()

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
contacts_clean.info()

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)